
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Deneyim Ekleme Paneli</h1>
<br />
<form method="post">
    <label>Başlık</label>
    <input type="text"name="Title" class="form-control"  placeholder="Title1" />
    <br />
    <label>Subtitle</label>
    <input type="text"name="Subtitle" class="form-control"  placeholder="Subtitle1" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" class="form-control"  placeholder="Description1" />
    <br />
    <label>Date</label>
    <input type="text" name="Date" class="form-control" placeholder="Date1" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

