@using MvcCV1.Models.Entity
@model List<Experience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ExperienceID</th>
            <th>@item.Title</th>
            <th>@item.Subtitle</th>
            <th>@item.Date</th>
            <th><a href="/Experience/DeleteExperience/@item.ExperienceID/" class="btn btn-outline-danger">Sil</a></th>
            <th><a href="/Experience/EditExperience/@item.ExperienceID/" class="btn btn-outline-primary">Düzenle</a></th>
        </tr>
    }
</table>
<a href="/Experience/AddExperience/" class="btn btn-outline-info">Yeni Deneyim Ekle</a>

