@using MvcCV1.Models.Entity
@model List<Skills>
<div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <div class="subheading mb-3">Programming Languages & Tools</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
        <li class="list-inline-item"><i class="fab fa-react"></i></li>
    </ul>
    <div class="subheading mb-3"></div>
    <ul class="fa-ul mb-0">
        @foreach (var item in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @item.SkillName
            </li>
        }
    </ul>
</div>
