@model MvcCV1.Models.Entity.Skills

    @{
        ViewBag.Title = "AddSkill";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <br />
    <h1>Skill Ekleme Paneli</h1>
    <br />
    <form method="post">
        @Html.Label("SkillName")
        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
        <br />
        @Html.Label("Status1")
        @Html.TextBoxFor(x => x.Status1, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-primary">Kaydet</button>
    </form>

